@import '../../../../assets/styles/sass/abstracts/variables.scss';

.slider {

    &ItemText {
        @extend %textSection;
        margin-bottom: 4.4rem;

    }

    &ItemName {
        color: $light;
        opacity: 1;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: .055em;
        margin-bottom: 0.6rem;
    }

    &ItemCompany {
        @extend %textSection;
    }
}

// [data-aos="scale"] {
//     transform: scale(1.15);
//     transition-property: transform;
//   }

//   [data-aos="scale"].aos-animate {
//     transform: scale(1);
//   }

