@import '../../../../styles/sass/abstracts/variables.scss';

.navBurgerWrap {
    display: none;
    position: fixed;
    right: -40rem;
    top: 0;
    height: 100vh;
    width: 31rem;
    background-color: $dark;
    padding: 2rem 3rem;
    z-index: 2;
    transition: all .5s linear;

    @media (max-width: 1500px) {
        display: block;
    }

    @media (max-width: 500px) {
        width: 100%;
        padding: 2rem 2rem;
    }

    &.active {
        right: 0;
    }
}

.navWrap {
    display: flex;
    flex-direction: column;
}

.buttonClossed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-top: -1rem;
    margin-right: -1rem;

    &:hover,
    &:focus {
        color: $active;
    }

        &:active {
        opacity: .6;
    }
}


.nav {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: .055em;
    overflow-y: auto;
    margin-bottom: 3rem;
    max-height: 22rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: .2rem;
    }
}

//   social

.linksWrap {
    color: $light;
    z-index: 20;
    margin-bottom: 2.5rem;
}

.links {
    display: flex;
    align-items: center;


}

.link {
    padding: 1rem;
    font-size: 1.6rem;

    &+.link {
        margin-left: 2rem;
    }

    &:hover {
        color: $active;
    }
}

.footer {
    padding-left: 1rem;

    &>span {
        display: block;
        text-transform: uppercase;
    }

    &CopyrightTop {
        display: block;
        margin-bottom: .5rem;
    }
}