@import '../../../../assets/styles/sass/abstracts/variables.scss';

.section {
    min-height: 100vh;
    width: 100%;
    position: relative;

    &BgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // pointer-events: none;
    }

    &BgImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &Container {
        padding-top: 10rem;
        position: relative;

        @media (max-width:1200px) {
            padding-top: 8rem;
        }

        @media (max-width:600px) {
            padding-top: 6rem;
        }

        @media (max-width:500px) {
            padding-top: 4rem;
        }

        @media (max-height:600px) {
            padding-top: 3rem;
        }

    }

    .globalContainer {
        @extend %globalContainer;
    }

    &Content {
        // color: $light;
        display: flex;
        justify-content: space-between;

        @media (max-width:1200px) {
            flex-direction: column;
        }
    }
}


.addressBlock {
    max-width: 42%;
    margin-right: 6rem;

    @media (max-width:1200px) {
        max-width: 95%;
        margin-bottom: 3rem;
        margin-right: 0;
    }

    @media (max-width:750px) {
        max-width: 100%;
    }

    @media (max-width:600px) {
        margin-bottom: 2rem;
    }

    @media (max-width:600px) {
        margin-bottom: 1rem;
    }

    &Title {
        @extend %title;
        margin-bottom: 1.9rem;

        @media (max-width:500px) {
            margin-bottom: 1rem;
        }

        @media (max-width:400px) {
            margin-bottom: .5rem;
        }
    }
}

.address,
.tel {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media (max-width:1100px) {
        margin-bottom: 1rem;
    }

    @media (max-width:600px) {
        font-size: 1.5rem;
    }

    @media (max-width:500px) {
        font-size: 1rem;
    }
}

.email {
    @extend %textSection;
}

.tel:hover,
.email:hover {
    color: $active;
    opacity: 1;
}

.formBlock {
    max-width: 47%;
    display: flex;
    flex-direction: column;

    @media (max-width:1200px) {
        max-width: 95%;
    }

    @media (max-width:750px) {
        max-width: 100%;
    }

    &Text {
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: .055em;
        margin-bottom: 1.25rem;

        @media (max-width:600px) {
            font-size: 1.5rem;
        }

        @media (max-width:400px) {
            font-size: 1rem;
        }

        &Link {
            display: inline-block;
            color: $active;
            font-weight: 900;

            &:hover {
                opacity: .6;
            }
        }
    }
}

.form {

    .inputBox {
        position: relative;
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 1.25rem;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
    }

    .inputError {
        color: $active;
        font-size: 1.1rem;
        padding: 1rem .5rem;
        position: absolute;
        right: 0;

    }

    &Item {
        display: inline-block;
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 1rem .5rem;
        font-size: 1.1rem;
        color: inherit;

        &::placeholder {
            @extend %textSection;
            opacity: 1;
            font-size: 1.1rem;
        }

        @media (max-width:1100px) {
            padding: .5rem;
            margin-bottom: 1rem;
        }

        @media (max-width:500px) {
            margin-bottom: .5rem;
        }

        // &:focus-visible {
        //     outline: 1px solid rgba(255, 255, 255, .4);
        // }
    }

    .textarea {
        min-height: 8rem;
        resize: none;

        @media (max-height:800px) {
            min-height: 6rem;
        }

        &::-webkit-scrollbar {
            width: .2rem;
        }
    }

    &Button {
        font-size: .75rem;
        line-height: 3.8;
        font-weight: 500;
        letter-spacing: .055em;
        padding: 0 calc(2.8rem - 1px);
        text-transform: uppercase;
        background-color: $active;
        border: 1px solid $active;

        &:hover {
            border: 1px solid $light;
            background-color: transparent;
        }
    }
}