@import '../../../../assets/styles/sass/abstracts/variables.scss';

.section {
    min-height: 100vh;
    width: 100%;
    position: relative;

    &BgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // pointer-events: none;
    }

    &BgImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &Container {
        padding-top: 8rem;
        position: relative;
    }



    .globalContainer {
        @extend %globalContainer;
    }

    &Content {
        // color: $light;
        display: flex;
        justify-content: space-between;
    }
}


.addressBlock {
    width: 42%;
    margin-right: 6rem;

    &Title {
        @extend %title;
        margin-bottom: 1.9rem;
    }


    &Text {
        @extend %textSection;
        margin-bottom: 4.4rem;
    }
}

.address,
.tel {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.email {
    @extend %textSection;
}

.formBlock {
    width: 47%;
    display: flex;
    flex-direction: column;

    &Text {
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: .055em;
        margin-bottom: 1.25rem;

        .textColor {
            color: $active;
        }
    }
}

.form {

    &Item {
        display: inline-block;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
        background-color: transparent;
        padding: 1rem;
        margin-bottom: 1.25rem;
        font-size: 1.1rem;
        color: inherit;

        &::placeholder {
            @extend %textSection;
            opacity: 1;
            font-size: 1.1rem;
        }

        // &:focus-visible {
        //     outline: 1px solid rgba(255, 255, 255, .4);
        // }
    }

    .textarea {
        min-height: 7.5rem;
        resize: none;
    }

    &Button {
        font-size: .75rem;
        line-height: 3.8;
        font-weight: 500;
        letter-spacing: .055em;
        padding: 0 calc(2.8rem - 1px);
        text-transform: uppercase;
        background-color: $active;
        border: 1px solid $active;

        &:hover {
            border: 1px solid $light;
            background-color: transparent;
        }
    }
}