%wrapSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

%globalContainer {
    max-width: 69rem;
    margin: 0 auto;
    padding-left: 3rem;
    position: relative;

    @media (max-width: 1200px) {
        padding-left: 10%;
        padding-right: 1%;
    }

    @media (max-width: 767px) {
        padding-left: 2%;
       
    }
}

%textSection {
    line-height: 1.8;
    opacity: .6;
    letter-spacing: .055em;
}

%title {
    font-size: 3rem;
    line-height: 1.35;
    font-weight: 500;
    letter-spacing: .055em;

    @media (max-width:350px) {
        font-size: 2rem;
    }
}

// color

$light: rgb(255, 255, 255);
$active: rgb(207, 0, 15);
$dark: rgb(0, 0, 0);