%containerBig {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 2rem;
    position: relative;
}

%wrapSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

%globalContainer {
    width: 69rem;
    margin: 0 auto;
    padding-left: 3rem;
    position: relative;
}

%textSection {
    line-height: 1.8;
    opacity: .6;
    letter-spacing: .055em;
}

%title{
    font-size: 3.125rem;
    line-height: 1.35;
    font-weight: 500;
    letter-spacing: .055em;
}

// color

$light: #fff;
$active: #cf000f;