@import '../../styles//sass/abstracts/variables.scss';

.header {
    background-color: rgba(22, 22, 22, .5);
    position: fixed;
    z-index: 20;
    width: 100%;
    max-width: 100%;
}

.container {
    @extend %containerBig;
}

.wrap {
    @extend %wrapSection;
    width: 100%;
    max-width: 120rem;
}

// .globalContainer {
//     @extend %globalContainer;
// }

.logo {

    &Link {

        &:hover {
            opacity: .5;
        }
    }


    &Text {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 2rem;
        color: $light
    }

    &Doted {
        color: $active;
    }
}

.nav {
    &Items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // &Item+&Item {
    //     margin-left: 1rem;
    // }

    &Link {
        padding: 0.625rem 1rem;
        color: $light;
        text-transform: uppercase;

        &:hover {
            color: $active;
        }
    }
}

.linkTypeTel {
    padding: 0.625rem 1rem;
    display: block;
    color: $light;

    &:hover {
        color: $active;
    }
}

.active {
    color: $active;
}