@import '../../styles/sass/abstracts/variables.scss';

.header {
    background-color: rgba(22, 22, 22, .5);
    position: fixed;
    z-index: 20;
    width: 100%;
}

.container {
    padding: 1rem 2rem;

    @media (max-width:400px) {
    padding: .5rem 2rem;
    }
}

.wrap {
    display: flex;
}

.logo {
    position: absolute;

    &Link {
        cursor: pointer;

        &:hover {
            opacity: .5;
        }

        @media (max-width:767px) {
            opacity: .1;
        }

    }

    &Text {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 2rem;
        color: $light;


    }

    &Doted {
        color: $active;
    }



}

.nav {
    max-width: 90%;
}

.NavWrap {
    @extend %globalContainer;
    padding-left: 2rem;

    @media (max-width: 1500px) {
        display: none;
    }
}

.nav {

    &Items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.linkWrap {
    position: absolute;
    right: 2rem;
    margin-left: auto;


    @media (max-width: 1500px) {
        display: none;
    }
}

.linkTypeTel {
    padding: 0.625rem 1rem;
    display: block;
    color: $light;

    &:hover {
        color: $active;
    }
}

// burger menu

.buttonMenuBurger {
    display: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2rem;
    margin-left: auto;

    &:hover {
        color: $active;
    }

    &:active {
        opacity: .6;
    }


    @media (max-width: 1500px) {
        display: flex;
    }
}