@import '../../styles/sass/abstracts/variables.scss';

.header {
    background-color: rgba(22, 22, 22, 0);
    position: fixed;
    z-index: 20;
    width: 100%;
  }

.container {
    padding: 2rem 2rem;

}

.wrap {
    display: flex;
}

.logo {
    position: absolute;
 
    &Link {
        cursor: pointer;
    

        &:hover {
            opacity: .5;
        }
    }


    &Text {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 2rem;
        color: $light
    }

    &Doted {
        color: $active;
    }
}

.nav{
    max-width: 90%;
}

.NavWrap {
    @extend %globalContainer;
    padding-left: 2rem;
   
    @media (max-width: 1500px) {
        display: none;
    }
}

.nav {
    
    &Items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.linkWrap {
    position: absolute;
    right: 2rem;
    margin-left: auto;
}

.linkTypeTel {
    padding: 0.625rem 1rem;
    display: block;
    color: $light;

    &:hover {
        color: $active;
    }
}

// burger menu

.buttonMenuBurger {
    display: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2rem;

    &:hover {
        color: $active;
    }

    &:active {
        opacity: .6;
    }
}

// burger

.navBurgerWrap {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 32rem;
    background-color: $dark;
    padding: 3rem 3rem;
    z-index: 2;

    @media (max-width: 1500px) {
        display: block;
    }
}