@import '../../../../assets/styles/sass/abstracts/variables.scss';

.section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    &BgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // pointer-events: none;
    }

    &BgImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &Container {
        padding-top: 8rem;
        
        @media (max-width:600px) {
            padding-top: 6rem;
        }

        @media (max-width:500px) {
            padding-top: 4rem;
        }

        @media (max-height:600px) and (min-width:768px){
            padding-top: 3.5rem;
        }
    }

    .globalContainer {
        @extend %globalContainer;
    }

    &Title {
        @extend %title;
        margin-bottom: 1rem;

        @media (max-height:600px) and (min-width:768px){
            margin-bottom: 0;
        }
    }
}

