@import '../../../../styles/sass/abstracts/variables.scss';



.sliderItem {
    display: grid;
    grid-auto-flow: row;
    grid-template: minmax(max-content, 200px) 1fr / 1fr;
}


.imgBox {
    position: relative;
    // border-right: 2px solid rgba(255, 255, 255, .4);
    // border-top: 2px solid rgba(255, 255, 255, .4);
    // border-left: 2px solid rgba(255, 255, 255, .4);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    overflow: hidden;
    transition: all .5 linear;

    &::before {
        content: '';
        display: block;
        padding-bottom: 80%;
    }

    &:hover {
        .imgBoxLinks {
            opacity: 1;
        }

        .imgBoxImg {
            transform: scale(1.1);

        }
    }

    &Square {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &Img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        transition: all .5s;
    }

    &Links {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(47, 53, 59, .5);
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        opacity: 0;
        transition: all .5s;

        @media (max-width:400px) {
            flex-direction: column;
        }
    }
}

.sliderItemContent {
    font-weight: 600;
    background-color: $dark;
    border-left: 2px solid rgba($light, .4);
    border-bottom: 2px solid rgba($light, .4);
    border-right: 2px solid rgba($light, .4);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 1rem;

    @media (max-height:600px) and (min-width:768px){
        padding: 0.5rem 1rem;
    }

    &Title,
    &Stack {
        @extend %textSection;
        text-transform: uppercase;
        margin-bottom: .2rem;
    }

    &Text {
        display: flex;
        text-transform: uppercase;
    }

    &Text span {
        display: block;
        line-height: 1.8;
        letter-spacing: .055em;
        text-transform: initial;
        opacity: .9;
        margin-left: .5rem;
    }
}

.link{
    margin-left: 0 !important;
margin-bottom: 1rem;
}