@import '../../styles/sass/abstracts/variables.scss';

.linksWrap {
    position: fixed;
    left: .5rem;
    height: 100vh;
    color: $light;
    z-index: 20;

    @media (max-width:767px) {
        display: none;
    }

      &::before {
        content: '';
        position: absolute;
        top: 12%;
        right: calc(50% + 1px);
        width: 1px;
        height: 25%;
        background-color: $light;
        opacity: .4;
       

        @media (max-height:600px) and (min-width:768px) {
            height: 20%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 12%;
        right: calc(50% + 1px);
        width: 1px;
        height: 25%;
        background-color: $light;
        opacity: .4;
      
        @media (max-height:600px) and (min-width:1024px) {
            height: 20%;
        }
    }
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;


  
}

.link {
    padding: 1rem;
    font-size: 1.4rem;

    &:hover {
        color: $active;
    }
}

.link+.link {
    margin-top: 1rem;
}