@import '../../../../assets/styles/sass/abstracts/variables.scss';

.section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    &BgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // pointer-events: none;
        animation: scale 2s linear;
    }

    &BgImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &BgImg>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &Container {
        padding-top: 25rem;

        @media (min-width: 768px) {
            padding-top: 17rem;
        }

        @media (max-height: 600px) {
            padding-top: 15rem;
        }
    }

    .globalContainer {
        @extend %globalContainer;
    }

    &Content {
        margin-left: 29.5rem;

        @media (max-width: 1200px) {
            margin-left: 0;
            padding-right: 2%;
        }

        .nameProfession {
            display: block;
            margin-bottom: .5rem;
            text-align: end;

            @media (min-width: 680px) {
                margin-bottom: 1rem;
            }

        }

        .name {
            font-size: 7.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            margin-left: .4rem;
            text-align: end;

            @media (max-width: 1023px) {
                font-size: 6rem;
            }

            @media (max-width: 430px) {
                font-size: 5rem;
            }

            @media (max-width: 350px) {
                font-size: 4rem;
            }

            @media (min-width: 680px) {
                margin-bottom: 1rem;
            }

            &Square {
                display: inline-block;
                background-color: $active;
                width: 1rem;
                height: 1rem;
                margin-left: -1.5rem;


                @media (max-width: 1023px) {
                    width: .5rem;
                    height: .5rem;
                }
            }
        }

        &Text {
            @extend %textSection;
            max-width: 23rem;
            margin-left: auto;

            // @media (max-width: 430px) {
            //     font-size: .8rem;
            // }
        }
    }
}

.popup {
    margin-bottom: 6rem;

    // &Button {
    //     width: 6rem;
    //     height: 6rem;
    //     border: 2px solid #fff;
    //     border-radius: 50%;
    //     position: relative;
    //     cursor: pointer;

    //     &::before {
    //         position: absolute;
    //         content: '';
    //         top: calc(50% - 20px);
    //         left: calc(50% - 6px);
    //         width: 0px;
    //         border: 20px solid #fff;
    //         border-color: transparent transparent transparent #fff;
    //     }
    // }

    // &Link {
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 50%;
    // }
}

// ! fancy

.FancyVideo {
    position: relative;

    & span {
        position: absolute;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $light;
        right: 0;
        left: calc(100% - 5rem);
        top: 0;
        margin: 0;

        &:hover {
            opacity: .5;
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}