@import '../../styles//sass/abstracts/variables.scss';

.footer {
    background-color: rgba(22, 22, 22, .5);
    position: fixed;
    z-index: 20;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    z-index: 1;

    &Link {
        cursor: pointer;
    }

    &Copyright {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        color: $light;
        opacity: .5;

        &:hover {
            color: $active;
            opacity: 1;
        }
    }
}

.container {
    padding: 1rem 2rem;

    @media (max-width: 400px) {
        padding: .5rem 2rem;
    }
        
    }

.wrap {
    @extend %wrapSection;
    font-size: 1rem;
}

.linkUp {
    position: fixed;
    font-size: 2rem;
    right: 1rem;
    bottom: 1rem;
    padding: 1rem;
    opacity: .6;

    &:hover {
        color: $active;
        opacity: 1;
    }
}