@import '../../../../styles/sass/abstracts/variables.scss';

.sliderItem {         

    &Testimonial {
        @extend %textSection;
        margin-bottom: 3rem;
        max-height: 8rem;
        overflow-y: auto;

     &::-webkit-scrollbar {
        width: .2rem;
        background-color: rgba($dark, 0);
    }

    }

    &Name {
        color: $light;
        opacity: 1;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: .055em;
        margin-bottom: 0.6rem;
    }

    &Company {
        @extend %textSection;
    }
}