@import '../../../../styles/sass//abstracts/variables.scss';

.navItem{
    margin-bottom: 1rem;
    width: 100%;
}

.navLink {
    width: 100%;
    padding: 0.6rem 0 1rem 1rem;
    color: $light;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: $active;
    }
  }

.active {
    color: $active;
}