@import '../../../../assets/styles/sass/abstracts/variables.scss';

.section {
    min-height: 100vh;
    width: 100%;
    position: relative;

    &BgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // pointer-events: none;
    }

    &BgImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // will-change: transform;
        // transition: transform 3s;
        // transform: scale(1.15);

        // &.active {
        //     transform: scale(1);
        // }
    }

    &Container {
        padding-top: 10rem;
    }

    .globalContainer {
        @extend %globalContainer;
    }

    &Content {
        display: flex;
        justify-content: space-between;
    }
}

.sectionTitleBox {
    max-width: 47%;

    &SvgImg {
        height: 4.7rem;
        color: $active;

    }

    &Title {
        font-family: "Lato", sans-serif;
        font-size: 3.125rem;
        line-height: 1.35;
        font-weight: 500;
        letter-spacing: .055rem;
        padding-top: 12rem;
    }
}

.sliderWrap {
    max-width: 37%;
    padding-top: 2rem;
}

.linkAdded {
    font-size: .75rem;
    line-height: 3.8;
    font-weight: 500;
    letter-spacing: .055em;
    padding: 0 2.8rem;
    background-color: $active;
    border: 1px solid $active;
    text-transform: uppercase;
    margin-bottom: 7rem;

    &:hover {
        border: 1px solid #fff;
        background-color: transparent;
    }
}