@import '../../../../assets/styles/sass/abstracts/variables.scss';

.section {
    min-height: 100vh;
    width: 100%;
    position: relative;

    &BgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // pointer-events: none;
    }

    &BgImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // will-change: transform;
        // transition: transform 3s;
        // transform: scale(1.15);

        // &.active {
        //     transform: scale(1);
        // }
    }

    &Container {
        padding-top: 10rem;

        @media (max-width:1200px) {
            padding-top: 8rem;
        }

        @media (max-width:600px) {
            padding-top: 6rem;
        }

        @media (max-width:400px) {
            padding-top: 4rem;
        }
    }

    .globalContainer {
        @extend %globalContainer;
    }

    &Content {
        display: flex;
        justify-content: space-between;

        @media (max-width:1200px) {
            flex-direction: column;
        }
    }
}

.sectionTitleBox {
    max-width: 47%;

    @media (max-width:1200px) {
        max-width: 95%;
    }

    @media (max-width:750px) {
        max-width: 100%;
    }

    &SvgImg {
        height: 4.7rem;
        color: $active;

        @media (max-width:1200px) {
            height: 3rem;
        }

        @media (max-width:600px) {
            height: 2rem;
        }

        @media (max-width:600px) {
            height: 1.5rem;
        }
    }

    &Title {
        @extend %title;
        font-family: "Lato", sans-serif;
        padding-top: 10rem;

        @media (max-width:1200px) {
            padding-top: 3rem;
        }

        @media (max-width:767px) {
            font-size: 1.5rem;
            padding-top: 2rem;
        } 

        @media (max-width:400px) {
            font-size: 1.2rem;
            padding-top: 1.5rem;
        } 
    }
}

.sliderWrap {
    max-width: 40%;
    padding-top: 2rem;

    @media (max-width:1200px) {
        max-width: 55%;
    }

    @media (max-width:800px) {
        max-width: 70%;
    }

    @media (max-width:500px) {
        max-width: 90%;
    }

    @media (max-width:450px) {
        max-width: 95%;
    }
}

.link {
    font-size: .75rem;
    line-height: 3.8;
    font-weight: 500;
    letter-spacing: .055em;
    padding: 0 2.8rem;
    background-color: $active;
    border: 1px solid $active;
    text-transform: uppercase;
    margin-bottom: 7rem;

    &:hover {
        border: 1px solid #fff;
        background-color: transparent;
    }

    @media (max-width:1200px) {
        margin-bottom: 3rem;
    }

    @media (max-width:1200px) {
        margin-bottom: 2rem;
    }
}