@import '../src/assets/styles/sass/abstracts/variables.scss';
@import '../src/assets/fonts/fonts.css';

::-webkit-scrollbar {
    width: .5rem;
    background-color: $dark;
}

::-webkit-scrollbar:horizontal {
    height: .2rem;
}

::-webkit-scrollbar-thumb {
    background-color: $active;
    border-radius: 1rem;
  }

.App {
    min-height: 100vh;
    width: 100%;
    background: url('../src/assets/images/bg-app.jpg') center center no-repeat fixed;
    background-size: cover;
    color: $light;
    overflow-x: hidden;
    position: relative;
}

/* font size 16px for devise 1500px */
:root {
    font-size: calc(0.8rem + 0.214vw);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a,
button,
span {
    color: $light;
    transition: all .5s linear;
}

a {
    text-decoration: none;
    display: inline-block;
}

span {
    display: inline-block;
}

input,
button,
textarea,
select {
    cursor: pointer;
}

/* 
  *{
    outline: 1px solid #fff;
  } */