@import '../src/assets/fonts/fonts.css';

/* font size 16px for devise 1500px */
:root {
  font-size: calc(0.8rem + 0.214vw); 
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
   }

a {
  text-decoration: none;
  display: inline-block;
}

input,
button,
textarea,
select {
  cursor: pointer;
}

a,
button{
  transition: all .5s;
}
/* 
*{
  outline: 1px solid #fff;
} */