@import '../../../../assets/styles/sass/abstracts/variables.scss';

.slider {

        &ItemText {
        @extend %textSection;
        margin-bottom: 3rem;
        max-height: 8rem;
        overflow-y: auto;

    }

    &ItemName {
        color: $light;
        opacity: 1;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: .055em;
        margin-bottom: 0.6rem;
    }

    &ItemCompany {
        @extend %textSection;
    }
}


